# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv
env/
venv/
ENV/

# Terraform
.terraform/
*.tfstate
*.tfstate.*
crash.log
crash.*.log
terraform.tfvars
*.auto.tfvars
!example.tfvars
!terraform.tfvars.example
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Logs and databases
*.log
*.sqlite

# OS specific
.DS_Store
Thumbs.db

# Generated deployment manifests
skaffold.yaml
cloudrun/*.yaml
!cloudrun/*.yaml.tmpl
terraform/backend.conf
